<div class="dashboard h-screen ml-60 mt-16 mr-4 p-6">

    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-4 bg-white rounded-2xl p-6 border">
            <h1 class="font-bold text-3xl mb-5">$120,369</h1>
            <div class="flex flex-row justify-between items-center mt-4">
                <p class="text-sm text-gray-600">Active Deal</p>
                <div class="flex flex-row items-center gap-x-2">
                    <span class="bg-green-100 p-1.5 rounded-3xl text-xs text-green-600">+20%</span>
                    <p class="text-xs text-gray-500">From last month</p>
                </div>
            </div>
        </div>
        <div class="col-span-4 bg-white rounded-2xl p-6 border">
            <h1 class="font-bold text-3xl mb-5">$234,423</h1>
            <div class="flex flex-row justify-between items-center mt-4">
                <p class="text-sm text-gray-600">Revenue Total</p>
                <div class="flex flex-row items-center gap-x-2">
                    <span class="bg-green-100 p-1.5 rounded-3xl text-xs text-green-600">+9%</span>
                    <p class="text-xs text-gray-500">From last month</p>
                </div>
            </div>
        </div>
        <div class="col-span-4 bg-white rounded-2xl p-6 border">
            <h1 class="font-bold text-3xl mb-5">874</h1>
            <div class="flex flex-row justify-between items-center mt-4">
                <p class="text-sm text-gray-600">Closed Deals</p>
                <div class="flex flex-row items-center gap-x-2">
                    <span class="bg-red-100 p-1.5 rounded-3xl text-xs text-red-600">-4.5%</span>
                    <p class="text-xs text-gray-500">From last month</p>
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-12 gap-6 mt-6">
        <div class="col-span-8 border rounded-2xl p-6 bg-white">

        </div>
        <div class="col-span-4 border rounded-2xl p-6 bg-white">

        </div>
    </div>
</div>