<div class="main">
    <ng-container *ngIf="isLoginPage || isRegisterPage || isForgotPasswordPage; else mainLayout">
        <ng-container *ngIf="isLoginPage">
            <app-login></app-login>
        </ng-container>
        <ng-container *ngIf="isRegisterPage">
            <app-register></app-register>
        </ng-container>
        <ng-container *ngIf="isForgotPasswordPage">
            <app-forgot-password></app-forgot-password>
        </ng-container>
    </ng-container>

    <ng-template #mainLayout>
        <div class="navbar">
            <app-nav></app-nav>
        </div>
        <div class="sidebar">
            <app-sidebar></app-sidebar>
        </div>
    </ng-template>
</div>