<div class="profile bg-white p-6 mt-6 ml-6 mr-6 flex flex-col gap-y-6 rounded-2xl border">
    <div class="overview flex flex-row justify-between items-center border p-6 rounded-2xl">
        <div class="flex flex-row items-center">
            <img class="w-20 h-20 mr-5" src="assets/profileimg.png" alt="">
            <div>
                <h1 class="text-lg font-semibold mb-2">Haris Khan</h1>
                <h1 class="text-sm text-gray-500">Frontend Developer Trainee | Islamabad, Pakistan</h1>
            </div>
        </div>
        <div class="flex flex-row justify-center items-center gap-2">
            <button class="p-6 border rounded-full h-6 w-6 flex justify-center items-center"><i class="fa-brands fa-facebook-f fa-lg"></i></button>
            <button class="p-6 border rounded-full h-6 w-6 flex justify-center items-center"><i class="fa-brands fa-twitter fa-lg"></i></button>
            <button class="p-6 border rounded-full h-6 w-6 flex justify-center items-center"><i class="fa-brands fa-instagram fa-lg"></i></button>
            <button class="p-6 border rounded-full h-6 w-6 flex justify-center items-center"><i class="fa-brands fa-linkedin fa-lg"></i></button>
            <button class="py-5 px-10 border rounded-full h-6 w-6 flex justify-center items-center"><i class="fa-solid fa-pen"></i><span class="ml-2 text-sm">Edit</span></button>
        </div>
    </div>
    <div class="personalInfo flex flex-col gap-y-4 border rounded-2xl p-6">
        <div class="flex flex-row justify-between items-center">
            <h1 class="text-lg font-semibold">Personal Information</h1>
            <button class="p-6 border rounded-full h-6 w-6 flex justify-center items-center"><i class="fa-solid fa-pen"></i></button>
        </div>
    </div>
    <div class="address"></div>
</div>