<div class="profile bg-white p-6 mt-6 ml-6 mr-6 flex flex-col gap-y-6 rounded-2xl border mb-6">
    <div class="overview flex flex-row justify-between items-center border p-6 rounded-2xl">
        <div class="flex flex-row items-center">
            <img class="w-20 h-20 mr-5" src="assets/profileimg.png" alt="">
            <div>
                <h1 class="text-lg font-semibold mb-2">Haris Khan</h1>
                <h1 class="text-sm text-gray-500">Frontend Developer Trainee | Islamabad, Pakistan</h1>
            </div>
        </div>
        <div class="flex flex-row justify-center items-center gap-2">
            <button class="p-6 border rounded-full h-6 w-6 flex justify-center items-center"><i class="fa-brands fa-facebook-f fa-lg"></i></button>
            <button class="p-6 border rounded-full h-6 w-6 flex justify-center items-center"><i class="fa-brands fa-twitter fa-lg"></i></button>
            <button class="p-6 border rounded-full h-6 w-6 flex justify-center items-center"><i class="fa-brands fa-instagram fa-lg"></i></button>
            <button class="p-6 border rounded-full h-6 w-6 flex justify-center items-center"><i class="fa-brands fa-linkedin fa-lg"></i></button>
            <button class="py-5 px-10 border rounded-full h-6 w-6 flex justify-center items-center"><i class="fa-solid fa-pen"></i><span class="ml-2 text-sm">Edit</span></button>
        </div>
    </div>
    <div class="personalInfo flex flex-col gap-y-7 border rounded-2xl p-6">
        <div class="flex flex-row justify-between items-center">
            <h1 class="text-md font-semibold">Personal Information</h1>
            <button class="p-6 border rounded-full h-6 w-6 flex justify-center items-center"><i class="fa-solid fa-pen"></i></button>
        </div>
        <div class="flex flex-row items-center">
            <div class="firstName mr-40">
                <h1 class="text-xs text-gray-500">First Name</h1>
                <h1 class="text-sm font-semibold text-gray-600">Haris</h1>
            </div>
            <div class="lastName">
                <h1 class="text-xs text-gray-500">Last Name</h1>
                <h1 class="text-sm font-semibold text-gray-600">Khan</h1>
            </div>
        </div>
        <div class="flex flex-row items-center">
            <div class="firstName mr-14">
                <h1 class="text-xs text-gray-500">Email Address</h1>
                <h1 class="text-sm font-semibold text-gray-600">hariskhan&#64;metispvt.com</h1>
            </div>
            <div class="lastName">
                <h1 class="text-xs text-gray-500">Phone</h1>
                <h1 class="text-sm font-semibold text-gray-600">123-456-789-0</h1>
            </div>
        </div>
        <div class="flex flex-row items-center">
            <div class="firstName mr-40">
                <h1 class="text-xs text-gray-500">Bio</h1>
                <h1 class="text-sm font-semibold text-gray-600">Frontend Developer Trainee</h1>
            </div>
        </div>
    </div>
    <div class="address flex flex-col gap-y-7 border rounded-2xl p-6">
        <div class="flex flex-row justify-between items-center">
            <h1 class="text-md font-semibold">Address</h1>
            <button class="p-6 border rounded-full h-6 w-6 flex justify-center items-center"><i class="fa-solid fa-pen"></i></button>
        </div>
        <div class="flex flex-row items-center">
            <div class="firstName mr-40">
                <h1 class="text-xs text-gray-500">Country</h1>
                <h1 class="text-sm font-semibold text-gray-600">Pakistan</h1>
            </div>
            <div class="lastName">
                <h1 class="text-xs text-gray-500">City/State</h1>
                <h1 class="text-sm font-semibold text-gray-600">Islamabad</h1>
            </div>
        </div>
        <div class="flex flex-row items-center">
            <div class="firstName mr-9">
                <h1 class="text-xs text-gray-500">Postal Code</h1>
                <h1 class="text-sm font-semibold text-gray-600">44800</h1>
            </div>
            <div class="lastName">
                <h1 class="text-xs text-gray-500">Tax ID</h1>
                <h1 class="text-sm font-semibold text-gray-600">AS4568384</h1>
            </div>
        </div>
    </div>
</div>