<div class="forgot-password bg-white grid grid-cols-12 h-screen gap-10">
    <div class="forgotPasswordForm col-span-6 flex flex-col gap-6 p-12">
        <div class="heading">
            <h1 class="text-4xl font-bold mb-2">Forgot Password</h1>
            <p class="text-sm text-gray-700">Enter your email to reset your password!</p>
        </div>
        <div class="form flex flex-col justify-center gap-5 h-full">
            <div class="flex flex-col">
                <label for="email" class="text-gray-800 text-sm">Email: </label>
                <input type="email" id="email" class="focus:outline-none focus:ring-0.5 focus:ring-blue-500 focus:border-blue-500 text-sm border rounded-md p-2 px-3 mt-2 w-full" placeholder="Enter your email">
                <p class="text-xs text-gray-500 mt-2 ml-0.5">A reset password link will be sent to the entered email.</p>
            </div>
            <div class="button flex justify-center items-center">
                <button (click)="onResetPassword()" class="border py-2 w-full rounded-lg text-sm bg-blue-500 text-white">Reset Password</button>
            </div>
            <div>
                <p class="text-sm text-gray-500">Remembered your password? <a routerLink="/login" class="text-blue-500">Sign In</a></p>
            </div>
        </div>
    </div>

    <div class="brandScreen bg-gray-800 col-span-6 flex flex-col justify-center items-center gap-1">
        <h1 class="text-3xl font-bold text-white">Admin Dashboard</h1>
        <p class="w-80 text-center text-gray-300">Free and Open-Source Tailwind CSS Admin Dashboard Template</p>
    </div>
</div>

<div *ngIf="isModalOpen" class="fixed inset-0 bg-black bg-opacity-60 flex justify-center items-center">
    <div class="bg-white rounded-lg shadow-lg p-5 w-96">
        <h2 class="text-xl font-bold mb-2">Reset Password</h2>
        <p class="text-sm text-gray-600 mb-4">The reset password link has been sent to your email.</p>
        <div class="flex justify-end">
            <button (click)="closeModal()" class="border text-sm w-20  py-1 bg-blue-500 text-white rounded-md">Close</button>
        </div>
    </div>
</div>